.header {
  nav {
    .nav-item {
      .nav-link {
        &.auth-button {
          margin-left: auto;
          background: #1c8be9;
          padding: 12px 50px;
          border: 0;
          color: #fff;
          font-family: Poppins, sans-serif;
          font-size: 13px;
          font-weight: 500;
          letter-spacing: 0.3px;
          border-radius: 8px;
        }
      }
    }
  }
}
