@import '../../styles/mixins/';
@import '../../styles/variables/colors';

.header {
  position: sticky;
  z-index: 1000;
  top: 0;
  nav.navbar {
    background: #fff !important;
    box-shadow: 0 1px 2px 0 rgba(34, 36, 38, 0.15);
    font-weight: 400;
    padding: 0.92857143em 1.14285714em;
    .navbar-brand {
      img {
        width: 100px !important;
        height: 29px !important;
      }
    }
    button.navbar-toggler {
      border: 1.5px solid $primary-color;
      &:focus {
        outline: none;
      }
      .fa-bars {
        color: $primary-color;
        font-size: 2rem;
      }
    }
    .navbar-nav {
      display: flex;
      align-items: center;
      padding-top: 14px;
      @include respond-above(lg) {
        padding-top: 0;
      }
      .nav-item {
        margin-bottom: 8px;
        @include respond-above(lg) {
          &:not(:last-child) {
            margin-right: 30px;
            margin-bottom: 0;
          }
        }
        .nav-link {
          color: $main-font-color;
          font-family: Titillium;
          font-weight: 700;
          font-style: normal;
          font-size: 13px;
          line-height: 10px;

          .auth-btn {
            background: #f33364;
            padding: 12px 50px;
            border: 0;
            color: #fff;
            font-family: acumin-pro;
            font-size: 1.6rem;
            font-weight: 500;
            letter-spacing: 0.3px;
            border-radius: 30px;
            margin-right: 10px;
            line-height: 1rem;
          }
        }
      }
    }
  }
}
