@import '../../styles/mixins/index.scss';

.home-page {
  padding-top: 66px; // extract navbar height
  @include respond-above(md) {
    padding-top: 80px;
  }
  .content {
    // common desktop and mobile content
    margin-top: 0; //pt-0
    padding-bottom: 48px;
    .home-location-list {
      &--loading {
        position: fixed;
        z-index: 10;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        background: #fff;
      }
      .location-list-item {
        margin-bottom: 20px;
      }
    }
  }

  @include respond-above(sm) {
    // header desktop appears above sm screen.
    .content {
      //transform: translateX(-100%);
      margin-right: 0;
    }
  }
}
