@import '../../styles/variables/colors';
@import '../../styles/mixins/';

.sidebar--desktop {
  display: none;
  @include respond-above(sm) {
    display: block;
  }
  z-index: 1000;
  padding: 20px 0;
  width: 100px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  box-shadow: 0 0 20px rgba(34, 36, 38, 0.15);
  nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    .nav-item {
      margin-bottom: 56px;
      .navbar-brand {
        margin-right: 0;
        img {
          width: 30px;
        }
      }
      .nav-link {
        border-radius: 50%;
        padding: 0;
        width: 50px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          width: 30px;
        }
        &:hover {
          background: $primary-color;
          svg {
            stroke: #fff;
          }
        }
      }
      &.active {
        .nav-link {
          background: $primary-color;
          svg {
            stroke: #fff;
          }
        }
      }
    }
  }
}

.sidebar--mobile {
  @include respond-above(sm) {
    display: none;
  }
  position: fixed;
  z-index: 1000;
  bottom: 0;
  width: 100%;
  background: #fff;
  box-shadow: 0 0 20px rgba(34, 36, 38, 0.15);
  nav {
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    .nav-item {
      flex: 1;
      display: flex;
      justify-content: center;
      &.active {
        .nav-link {
          //background: $primary-color;
          svg {
            stroke: $primary-color;
          }
        }
      }
    }
  }
}
