@import '../../../styles/mixins/';
@import '../../../styles/variables/';

.dashboard-location-page {
  margin-left: 56px;
  @include respond-above(sm) {
    margin-left: 66px;
  }
  @include respond-above(lg) {
    margin-left: 280px;
  }
  .dashboard-location-content {
    background: rgb(246, 246, 252);
    min-height: 100vh;
    //padding: 20px 20px;
    @include respond-above(lg) {
      padding: 40px 50px;
    }
  }
}
