@import '../../styles/mixins/';
@import '../../styles/variables/colors';

.location-list-container {
  .ap-cursor {
    background: $lightgrey;
    border-radius: 3px;
  }
  .places-search-wrapper {
    padding: 80px 0;
    background-image: url('/images/shisha-bg.jpg');
    background-size: cover;
    box-shadow: 0px 0px 10px 0 rgba(34, 36, 38, 0.6);
    @include respond-above(sm) {
      padding: 100px 0;
    }
    @include respond-above(lg) {
      padding: 150px 0;
    }
    .places-search {
      $search_input_border: 12px;
      position: relative;
      z-index: 100;
      padding: 7px 16px;
      border-radius: $search_input_border;
      box-shadow: 0px 0px 8px 0 rgba(34, 36, 38, 0.04);
      background: #fff;
      display: flex;

      @include respond-above(lg) {
        padding-top: 14px;
        padding-bottom: 14px;
      }

      .ap-input-icon.ap-icon-clear {
        right: 38.5px;
        width: 20px;
        text-align: center;
        background: #fff;
        .ap-input-icon svg {
        }
      }
      .algolia-places {
        position: static !important;
      }

      input.address-input {
        flex: 1;
        background: white;
        font-family: $alt-font-family;
        font-size: 1.5rem;
        letter-spacing: 0.2rem;
        border: 0;
        border-radius: $search_input_border;
        outline: none;
        height: 43px;
        color: $grey; //#29283d;
        font-weight: 600;
        padding: 0 20px;

        &::-webkit-input-placeholder {
          /* Edge */
          color: $grey;
        }

        &:-ms-input-placeholder {
          /* Internet Explorer 10-11 */
          color: $grey;
        }
        &::placeholder {
          color: $grey;
        }
      }
      .ap-dropdown-menu {
        -webkit-box-shadow: 0px 0px 5px 0px rgba(34, 36, 38, 0.025);
        -moz-box-shadow: 0px 0px 5px 0px rgba(34, 36, 38, 0.025);
        box-shadow: 0px 0px 5px 0px rgba(34, 36, 38, 0.025);
        border-color: transparent;
        border-radius: $search_input_border;
        margin-top: 16px;
        background: rgb(252, 252, 252);
        padding: 14px 16px;
        transition: all 2s ease-in;
        .ap-suggestion {
          transform: translateY(-1000px);
          animation: animate-autoplace-dropdown-element 350ms ease-in forwards;

          svg {
            margin-top: -13px !important;
          }
        }
      }
      .close-btn {
        display: none;
        @include respond-above(md) {
          display: inline;
        }
        width: 40px;
        text-transform: uppercase;
        color: rgb(97, 97, 112);
        text-decoration: none;
        font-weight: 700;
        font-size: 1.4rem;
      }
    }
  }

  .list-content {
    margin-top: 30px;
    @include respond-above(md) {
      margin-top: 60px;
    }
    .locals-list-filter {
      margin-bottom: 30px;
      @include respond-above(lg) {
        padding-right: 0;
        padding-left: 20px;
        /*position: sticky;
        top: 140px; */
      }
      @include respond-above(xl) {
        padding-right: 60px;
      }
      &__elements {
        display: flex;
        flex-direction: column;
        @include respond-above(sm) {
          flex-direction: row;
          flex-wrap: wrap;
          //align-items: center;
        }
        @include respond-above(lg) {
          flex-direction: column;
          flex-wrap: nowrap;
          align-items: stretch;
          /*height: 90vh;
          overflow-y: scroll;*/
          padding-bottom: 100px;
        }
        .form-group {
          margin-bottom: 26px;
          @include respond-above(sm) {
            margin-right: 24px;
          }
          @include respond-above(lg) {
            margin-right: 0;
            margin-bottom: 26px !important;
          }
          &.filter-criterias {
            flex-basis: 100%;
            display: flex;
            flex-wrap: wrap;
            label {
              flex: 0 0 100%;
            }
            .form-group.child {
              margin-bottom: 10px !important;
              margin-right: 10px !important;
            }
          }
          .separator {
            margin-top: 26px;
            width: 100%;
            height: 1px;
            border: 2px solid #ececec;
            background: $lightgrey;
            border-top: 15px;
            border-bottom: 15px;
            @include respond-above(sm) {
              display: none;
            }
            @include respond-above(lg) {
              display: block;
            }
          }
          label {
            margin-bottom: 12px;
            letter-spacing: 0.03em;
            font-family: $alt-font-family;
            font-weight: 500;
            font-size: 1.3rem;
            color: $grey;
            margin-bottom: 8px;
            margin-left: 2px;
          }
          .filter-select {
            @include respond-above(sm) {
              width: 160px;
            }
            @include respond-above(lg) {
              width: auto;
            }
            .Dropdown-control {
              position: relative;
              width: 100%;
              padding: 11px 14px;
              color: $grey;
              //font-weight: 600;
              font-size: 1.4rem;
              border: 1px solid $lightgrey;
              border-radius: 0;
              outline: none;
              border-radius: 8px;
              background-image: url('/icons/select-down.svg');
              background-repeat: no-repeat;
              background-position-x: calc(100% - 14px);
              background-position-y: 55%;
              font-family: $alt-font-family;
              box-shadow: 0px 0px 8px 0 rgba(34, 36, 38, 0.04);
              letter-spacing: 0.6px;
              cursor: pointer;
            }
            &.is-open {
              .Dropdown-control {
                background-image: none;
                border-bottom-left-radius: 0;
                border-bottom-right-radius: 0;
                &::after {
                  content: ' ';
                  position: absolute;
                  z-index: 100;
                  top: 0;
                  left: 0;
                  width: 100%;
                  height: 100%;
                  background-image: url('/icons/select-up.svg');
                  background-repeat: no-repeat;
                  background-position-x: calc(100% - 14px);
                  background-position-y: 50%;
                  border-top-left-radius: 0;
                  border-top-right-radius: 0;
                }
              }
            }
            .Dropdown-arrow-wrapper {
              display: none;
            }

            .Dropdown-menu {
              position: relative;
              max-height: 260px;
              border: 1px solid $lightgrey;
              border-bottom-left-radius: 8px;
              border-bottom-right-radius: 8px;
              border-top-color: transparent;

              .Dropdown-option {
                padding: 12px 14px;
                font-weight: 500;
                font-size: 1.4rem;
                letter-spacing: 0.6px;
                line-height: 18px;
                color: $grey;
                cursor: pointer;

                &:not(:last-child) {
                  border-bottom: 0.7px solid lighten($lightgrey, 20%);
                }

                &.is-selected,
                &:hover {
                  background-color: $darkgrey;
                  color: #fff;
                }
              }
            }
          }
          &.search-input-group {
            //form-group
            position: relative;
            input.filter-input {
              position: relative;
              display: block;
              width: 100%;
              height: auto !important;
              padding: 11px 38px 11px 14px;
              box-shadow: 0px 0px 8px 0 rgba(34, 36, 38, 0.04);
              border: 1px solid $lightgrey;
              border-radius: 0;
              outline: none;
              border-radius: 6px;
              font-weight: 500;
              font-size: 1.4rem;
              letter-spacing: 0.6px;
              color: $grey;
              font-family: $alt-font-family;
              @include respond-above(sm) {
                width: 160px;
              }
              @include respond-above(lg) {
                width: 100%;
              }

              &::-webkit-input-placeholder {
                font-size: 1.4rem;
              }

              &:-ms-input-placeholder {
                font-size: 1.4rem;
              }
              &::placeholder {
                font-size: 1.4rem;
              }
            }
            button.search-btn {
              position: absolute;
              top: 36px;
              right: 2px;
              padding: 0;

              .filter__search-icon {
                path {
                  fill: $main-font-color;
                  stroke-width: 10px;
                }
              }
            }
          }

          .filtered-location {
            position: relative;
            width: 100%;
            padding: 9px 14px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            color: $main-font-color;
            font-weight: 600;
            font-size: 16px;
            border: 1px solid $main-font-color;
            border-radius: 0;
            outline: none;
            border-radius: 8px;
            @include respond-above(sm) {
              width: 160px;
            }
            @include respond-above(lg) {
              width: 100%;
            }
            .times {
              display: inline-flex;
              justify-content: center;
              align-items: center;
              svg {
                stroke: $main-font-color;
                fill: $main-font-color;
                path {
                  stroke: $main-font-color;
                  fill: $main-font-color;
                }
              }
            }
          }

          .custom-checkbox {
            flex-basis: 50%;
            position: relative;
            display: block;
            margin-bottom: 8px;
            @include respond-above(sm) {
              flex-basis: 33.3333%;
              margin-bottom: 6px;
            }
            @include respond-above(lg) {
              flex-basis: 0;
              margin-bottom: 10px;
            }
            label {
              position: relative;
              min-height: 34px;
              display: block;
              padding-left: 40px;
              margin-bottom: 0;
              font-weight: normal;
              font-size: 1.4rem;
              line-height: 16px;
              color: $main-font-color;
              cursor: pointer;

              letter-spacing: 1px;

              span {
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
              }

              &:before {
                content: '';
                position: absolute;
                left: 0;
                top: 0;
                margin: 4px;
                width: 22px;
                height: 22px;
                transition: transform 0.28s ease;
                border-radius: 3px;
                border: 2px solid $lightgrey;
              }
              &:after {
                content: '';
                display: block;
                width: 10px;
                height: 5px;
                border-bottom: 2px solid darken($grey, 10%);
                border-left: 2px solid darken($grey, 10%);
                transform: rotate(-45deg) scale(0);
                transition: transform ease 0.25s;
                position: absolute;
                top: 12px;
                left: 10px;
              }
              a {
                color: $main-font-color;
                text-decoration: underline;
              }
            }
            input[type='checkbox'] {
              width: auto;
              opacity: 0.00000001;
              position: absolute;
              left: 0;
              margin-left: -20px;
              border: 2px solid $lightgrey;

              &:checked ~ label {
                &:before {
                  border: 2px solid $lightgrey;
                }

                &:after {
                  transform: rotate(-45deg) scale(1);
                }
              }

              &:focus + label::before {
                outline: 0;
              }
            }
          }
        }
      }
    }
    .location-list {
      padding-bottom: 120px;
      &-item {
        &:not(:last-child) {
          margin-bottom: 34px;
        }
      }
      .page-loading {
        display: flex;
        justify-content: center;
        margin-bottom: 200px;
      }
    }
  }
}

@keyframes animate-autoplace-dropdown-element {
  from {
    transform: translateY(-1000px);
  }
  to {
    transform: translateY(0);
  }
}
