$white: #fff !default;
$pink: #fe2d5b !default;
$black: #000 !default;
$black-1: #424242;
$black-2: #29283d;
$black-3: #222;
$dusk: #577592 !default;
$candlelight: #f9d423 !default;
$main-font-color: #7e8089;
$grey: #595959cc;
$darkgrey: #ddd;
$lightgrey: #f7f7f7;

$colors: (
  'white': $white,
  'black': $black,
  'dusk': $dusk,
  'pink': $pink,
  'grey': $grey,
  'lightgrey': $lightgrey,
  'darkgrey': $darkgrey,
  'black-3': $black-3,
  'candlelight': $candlelight,
  'main-font-color': $main-font-color,
) !default;

$primary-color: $pink !default;
$secondary-color: $black-1 !default;

$theme-colors: (
  'black': $black,
  'white': $white,
  'dusk': $dusk,
  'pink': $pink,
  'primary': $pink,
  'candlelight': $candlelight,
) !default;

$body-color: $black !default;

// Fonts
$main-font-family: acumin-pro, sans-serif;
$alt-font-family: jaf-bernina-sans, sans-serif;
