@import '../../styles/mixins/';
@import '../../styles/variables/colors';

.carousel-root {
  position: relative;
}

.close-btn {
  position: absolute;
  color: rgb(187, 186, 186);
  z-index: 100;
  top: 10px;
  right: 3px;
  background: transparent;
  cursor: pointer;
  text-align: center;
  outline: none;
  border: none;
  &:focus {
    border: none;
    outline: none;
  }
  &:hover {
    color: #fff;
  }
  .close-icon {
    width: 20px;
    height: 20px;
  }
  @include respond-above(md) {
    top: 16px;
    right: 8px;
    .close-icon {
      width: 24px;
      height: 24px;
    }
  }
}
