@import '../../styles/variables/colors';
@import '../../styles/mixins/';

#return-to-top {
  cursor: pointer;
  position: fixed;
  z-index: 100;
  bottom: 24px;
  right: 20px;
  background: $primary-color;
  background: rgba($primary-color, 0.8);
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  -webkit-border-radius: 35px;
  -moz-border-radius: 35px;
  border-radius: 35px;
  visibility: hidden;
  opacity: 0;
  -webkit-transition: all 0.5s linear;
  -moz-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
  &.scrolled {
    visibility: visible;
    opacity: 1;
  }
}
#return-to-top .arrow-up {
  width: 16px;
  height: 16px;
}
#return-to-top:hover {
  background: rgba($primary-color, 0.9);
}

#return-to-top.animate-btn {
  .arrow-up {
    animation: animate-button 1.5s ease;
  }
}
@keyframes animate-button {
  from {
    margin-bottom: 12px;
  }
  to {
    margin: auto;
  }
}
