@import '../../styles/mixins/index';
@import '../../styles/variables/colors';

.location-item-card {
  display: block;
  position: relative;
  text-decoration: none !important;


  .card {
    text-decoration: none !important;
    box-shadow: 0px 0px 20px 0 rgba(34, 36, 38, 0.03);
    padding: 10px;
    border-radius: 8px;
    border-color: transparent;
    display: flex;
    align-items: center;
    border-radius: 8px;
    cursor: pointer;

    &:hover {
      box-shadow: 0px 0px 20px 0 rgba(34, 36, 38, 0.2);
    }

    @include respond-above(sm) {
      flex-direction: row;
    }

    .img-wrapper {
      text-align: center;

      img {
        width: 100%;
        max-height: 220px;
        object-fit: cover;
        @include respond-above(md) {
          width: 220px;
          height: 150px;
        }
        border-radius: 8px;
      }
    }
    .card-body {
      @include respond-above(md) {
        padding-left: 30px;
      }
    }
    .card-title {
      padding-top: 6px;
      margin-bottom: 8px;
      a {
        text-decoration: none;
        font-family: acumin-pro, sans-serif;
        font-size: 1.75rem;
        font-weight: 600;
        color: #29283d;
        line-height: 1.4rem;
        letter-spacing: 0.1px;
      }
    }
    .adress {
      font-size: 1.5rem;
      color: $main-font-color;
    }
    .flexbox {
      margin-top: 34px;
      display: flex;
      flex-direction: column;
      @include respond-above(xl) {
        align-items: center;
        flex-direction: row;
      }
      .info {
        display: flex;
        align-items: center;
        p {
          padding-right: 20px;
          margin-bottom: 0;
          white-space: nowrap;
          color: $main-font-color;
          font-size: 1.2rem;
          font-weight: 500;
          &:not(:first-child) {
            padding-left: 20px;
          }
          &:not(:last-child) {
            border-right: 2px solid lighten($main-font-color, 25%);
          }
        }
      }
      .up-down {
        margin-top: 20px;
        @include respond-above(xl) {
          margin-top: 0;
          padding-left: 20px;
          border-left: 2px solid lighten($main-font-color, 25%);
          white-space: nowrap;
        }
        color: $main-font-color;
        font-size: 1.2rem;
        font-weight: 500;
      }
    }
  }
}
/*
@keyframes animate-border {
  0% {
    height: 0;
  }
  25% {
    height: 100%;
  }
  50% {
    height: 100%;
  }
  75% {
    height: 0;
  }
  100% {
    height: 0;
  }
}
*/
@keyframes animate-border {
  0% {
    height: 0;
  }
  100% {
    height: 87%;
  }
}
